<h3 *ngIf="products ;else :noProduct">DashBoard</h3>
<app-category></app-category>
<div class="form-group">
    <input type="email" 
    class="form-control" 
    id="ProductName" 
    placeholder="Arama ifadelerinizi girin"
    [(ngModel)]="FilterText"
    >
    <small  *ngIf="FilterText" class="form-text text-muted">
      Şuan <strong>{{FilterText}}</strong> ile filtreleme yapıyorsunuz </small>
  </div>


<div class="row">
    <ng-template #noProduct>
        <div class="alert alert-primary" role="alert">
          Bu kategoride ders yoktur.
        </div>
      </ng-template>

  <div *ngFor="let product of products | productFilter:FilterText " class="card" class="productbox" style="width: 18rem;">
    <img  class="card-img-top" [src]="product.imageUrl" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}} </h5>
      <p class="card-text">
        {{product.description}}
      </p>
      <a (click)="addToCart(product)"href="#" class="btn btn-primary">Sepete Ekle</a>
    </div>
  </div>
  

</div>